.heading
 {
  font-size :23px;
  width:100%;
  margin:0px;
  box-shadow:5px 5px 5px crimson;
}
.note {
    font-size:15px;
    color:mintcream;

}
.copy_right_footer {
    position:fixed;
    color:rgba(177, 47, 47, 0.589);
    bottom: 0;
    width:100%;
    background-color: yellow;
    line-height: 3;
    text-align:center;
}
canvas {
border:5px solid white;
border-radius: 20px;
box-shadow: 5px 5px 5px royalblue;
}